/straight
/elpa
/eln-cache
/tree-sitter
/backups
/auto-save-list
/transient
/my-vars.el
/.lsp-session-v1
/.persistent-scratch
/bookmarks
/projects
/recentf
/tramp
/eshell
/elgrep-data.el
/.dap-breakpoints